@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 142 30% 97%;
    --foreground: 142 25% 15%;
    --card: 142 30% 100%;
    --card-foreground: 142 25% 15%;
    --popover: 142 30% 100%;
    --popover-foreground: 142 25% 15%;
    --primary: 142 76% 36%;
    --primary-foreground: 142 76% 96%;
    --secondary: 142 20% 90%;
    --secondary-foreground: 142 19% 15%;
    --muted: 142 20% 90%;
    --muted-foreground: 142 19% 45%;
    --accent: 142 63% 58%;
    --accent-foreground: 142 63% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 20% 88%;
    --input: 142 20% 88%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 142 63% 58%;
    --chart-3: 142 40% 70%;
    --chart-4: 155 40% 70%;
    --chart-5: 142 20% 80%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 142 19% 10%;
    --foreground: 142 30% 96%;
    --card: 142 19% 12%;
    --card-foreground: 142 30% 96%;
    --popover: 142 19% 10%;
    --popover-foreground: 142 30% 96%;
    --primary: 142 76% 36%;
    --primary-foreground: 142 76% 96%;
    --secondary: 142 19% 20%;
    --secondary-foreground: 142 67% 98%;
    --muted: 142 19% 20%;
    --muted-foreground: 142 67% 65%;
    --accent: 142 63% 58%;
    --accent-foreground: 142 63% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 19% 25%;
    --input: 142 19% 25%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 142 63% 58%;
    --chart-3: 142 40% 70%;
    --chart-4: 155 40% 70%;
    --chart-5: 142 20% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
