@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 273 67% 96%;
    --foreground: 276 19% 15%;
    --card: 273 67% 100%;
    --card-foreground: 276 19% 15%;
    --popover: 273 67% 100%;
    --popover-foreground: 276 19% 15%;
    --primary: 279 63% 58%;
    --primary-foreground: 273 67% 98%;
    --secondary: 273 20% 90%;
    --secondary-foreground: 276 19% 15%;
    --muted: 273 20% 90%;
    --muted-foreground: 276 19% 45%;
    --accent: 165 63% 58%;
    --accent-foreground: 165 63% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 20% 88%;
    --input: 273 20% 88%;
    --ring: 279 63% 58%;
    --chart-1: 279 63% 58%;
    --chart-2: 165 63% 58%;
    --chart-3: 279 40% 70%;
    --chart-4: 165 40% 70%;
    --chart-5: 279 20% 80%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 276 19% 10%;
    --foreground: 273 67% 96%;
    --card: 276 19% 12%;
    --card-foreground: 273 67% 96%;
    --popover: 276 19% 10%;
    --popover-foreground: 273 67% 96%;
    --primary: 279 63% 58%;
    --primary-foreground: 273 67% 98%;
    --secondary: 276 19% 20%;
    --secondary-foreground: 273 67% 98%;
    --muted: 276 19% 20%;
    --muted-foreground: 273 67% 65%;
    --accent: 165 63% 58%;
    --accent-foreground: 165 63% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 19% 25%;
    --input: 276 19% 25%;
    --ring: 279 63% 58%;
    --chart-1: 279 63% 58%;
    --chart-2: 165 63% 58%;
    --chart-3: 279 40% 70%;
    --chart-4: 165 40% 70%;
    --chart-5: 279 20% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
